html {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: rgb(19, 18, 18);
    color: white;
}

h1 {
    font-size: xx-large;
    text-align: center;
}